<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2022 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="modal fade" id="device_settings_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="device_settings_and_offline_actions">Device Settings and Offline Actions</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label data-i18n="offline_actions">Offline Actions</label>
                        <div>
                            <a href="#" data-toggle="modal" data-target="#token_modal" data-offline="true">
                                <i class="far fa-code"></i>
                                <span data-i18n="generate_token">Generate Token</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" data-toggle="modal" data-target="#transaction_json_modal" data-offline="true">
                                <i class="far fa-asterisk"></i>
                                <span data-i18n="transaction_operations">Transaction Operations</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" data-toggle="modal" data-target="#bip32_calculations_modal" data-offline="true">
                                <i class="far fa-seedling"></i>
                                <span data-i18n="bip32_calculations">BIP32 Calculations</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" data-toggle="modal" data-target="#hash_modal">
                                <i class="far fa-calculator fa-fw"></i>
                                <span data-i18n="calculate_hash">Calculate Hash</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" id="restart_ui_tour">
                                <i class="far fa-blind"></i>
                                <span data-i18n="restart_ui_tour">Restart the Login Page UI Tour</span>
                            </a>
                        </div>
                        <div class="direct-access-pages">
                            <br />
                            <label data-i18n="direct_access_pages">Direct access pages</label>
                            <div>
                                <a href="#" class="goto-page" data-page="blocks">
                                    <i class="fa fa-bars fa-fw"></i>
                                    <span data-i18n="blocks">Blocks</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="peers">
                                    <i class="fa fa-cloud fa-fw"></i>
                                    <span data-i18n="peers">Peers</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="generators">
                                    <i class="fa fa-code-branch fa-fw"></i>
                                    <span data-i18n="generators">Generators</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="funding_monitors">
                                    <i class="fa fa-shekel-sign fa-fw"></i>
                                    <span data-i18n="monitors">Monitors</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="bundlers">
                                    <i class="fa fa-suitcase fa-fw"></i>
                                    <span data-i18n="bundlers">Bundlers</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="node_processes_config">
                                    <i class="fa fa-tasks fa-fw"></i>
                                    <span data-i18n="node_processes_config">Processes</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="plugins_overview">
                                    <i class="fa fa-plug fa-fw"></i>
                                    <span data-i18n="plugins">Plugins</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="contracts">
                                    <i class="fa fa-address-card fa-fw"></i>
                                    <span data-i18n="contracts">Contracts</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="goto-page" data-page="configuration">
                                    <i class="far fa-server fa-fw"></i>
                                    <span data-i18n="node_configuration">Node Configuration</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="device_admin_password" data-i18n="admin_password">Server Administration Password</label>
                            <div class="input-group">
                                <input type="password" name="admin_password" id="device_admin_password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="device_camera_id" data-i18n="camera_id">Camera Id</label>
                            <div class="input-group">
                                <input type="number" id="device_camera_id" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="device_account_prefix" data-i18n="account_prefix">Account Prefix</label>
                            <div class="input-group">
                                <input type="text" oninvalid="setCustomValidity($.t('account_prefix_error_message'))" pattern="[A-Z]+" name="account_prefix" id="device_account_prefix" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline" for="device_is_check_remember_me">
                                <input type="checkbox" id="device_is_check_remember_me"/>
                                <span data-i18n="is_check_remember_me">Check Remember Me Checkbox</span>
                            </label>
                        </div>
                        <input type="hidden" name="request_type" value="setDeviceSettings"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="reload;[placeholder]submitting">RELOAD</button>
            </div>
        </div>
    </div>
</div>