<!--
  ~ Copyright © 2021-2022 Jelurida IP B.V.
  ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution
  ~ for licensing information.
  ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,
  ~ propagated, or distributed except according to the terms contained in the
  ~ LICENSE.txt file.
  ~
  ~ Removal or modification of this copyright notice is prohibited.
  ~
  -->

<div class="modal fade has-recipient" id="set_trading_royalties_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="set_trading_royalties"></h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="set_trading_royalties_asset" data-i18n="asset">ASSET</label>
                        <input type="text" class="form-control" name="asset" id="set_trading_royalties_asset" placeholder="ASSET" data-i18n="[placeholder]asset" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="set_trading_royalties_percentage" data-i18n="royalties_percentage">Royalties Percentage</label>
                        <input type="text" class="form-control" name="royaltiesPercentage" id="set_trading_royalties_percentage" placeholder="Royalties Percentage" data-i18n="[placeholder]royalties_percentage" tabindex="2" />
                    </div>
                    <div data-replace-with-modal-template="add_message_modal_template"></div>
                    <div data-replace-with-modal-template="fee_calculation_modal_template"></div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <div data-replace-with-modal-template="advanced_deadline_template"></div>
                    <div data-replace-with-modal-template="advanced_approve_template"></div>
                    <div data-replace-with-modal-template="advanced_rt_hash_template"></div>
                    <div data-replace-with-modal-template="advanced_broadcast_template"></div>
                    <div data-replace-with-modal-template="advanced_note_to_self_template"></div>

                    <input type="hidden" name="request_type" value="setAssetTradeRoyalties" />
                    <input type="hidden" name="converted_account_id" value="" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><a href="#" data-i18n="advanced">advanced</a></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="set;[placeholder]submitting">SET</button>
            </div>
        </div>
    </div>
</div>
