<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2022 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="aliases_page" class="paginated page">
    <section class="content-header">
        <div class="title-wrapper col-xs-12 col-sm-4">
            <h1 data-i18n="aliases" style="display: inline-block; vertical-align: middle;">Aliases</h1> <span id="alias_count_heading">(<span data-i18n="total">Total</span>: <span id="alias_count" class="loading_dots"><span>.</span><span>.</span><span>.</span></span>)</span>
        </div>
        <div class="col-xs-12 col-sm-4">         
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register_alias_modal" data-i18n="register_alias">Register Alias</button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <form action="#" method="get" class="sidebar-form" id="alias_search" autocomplete="off">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search Aliases..." data-i18n="[placeholder]search_aliases">
                    <span class="input-group-btn">
                        <button type="submit" name="search" class="btn btn-flat"><i class="far fa-search"></i></button>
                    </span>
                </div>
            </form>    
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="content">                 
        <div class="data-container data-loading table-responsive">
            <table class="table table-striped" id="aliases_table">
                <thead>
                <tr>
                    <th data-i18n="alias">Alias</th>
                    <th data-i18n="uri">URI</th>
                    <th data-i18n="status" style="width:5%">Status</th>
                    <th data-i18n="actions" style="width:10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
            <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
            <div class="data-empty-container">
                <p>
                    <span data-i18n="no_aliases_yet">No aliases yet</span>, 
                    <a href="#" data-toggle="modal" data-target="#register_alias_modal" data-i18n="register_one_alias">register one</a>!
                </p>
            </div>
        </div>
        <div class="data-pagination"></div>
    </section>
</div>