<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2022 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="bundlers_page" class="page">
    <section class="content-header">
        <h1 data-i18n="bundlers">BUNDLERS</h1>
        <div style="position:absolute;top:9px;right:9px;">
            <div class="btn-group" data-toggle="buttons" id="bundlers_page_type">
                <label class="btn btn-default active" data-type="all">
                    <input type="radio" name="bundlers_page_type"> <span data-i18n="all">ALL</span>
                </label>
                <label class="btn btn-default" data-type="my">
                    <input type="radio" name="bundlers_page_type"> <span data-i18n="my">MY</span>
                </label>
                <button id="bundlers_start_btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#start_bundler_modal" data-i18n="start">Start</button>
            </div>
        </div>
    </section>
    <section class="content" id="bundlers_section">
        <script type="text/x-handlebars-template">
            {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{{ errorMessage }}}
                    <a href="#" data-toggle="modal" data-target="#device_settings_modal"><i class="far fa-cog fa-lg"></i></a>
                </div>
            {{/if}}

            <div class="data-container {{when isLoading 'data-loading' isEmpty 'data-empty'}} table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "account"}}</th>
                        <th>{{i18n "chain"}}</th>
                        <th>{{i18n "fee_total"}}</th>
                        <th>{{i18n "fee_paid"}}</th>
                        <th>{{i18n "confirmed_fee_paid"}}</th>
                        <th>{{i18n "fee_limit"}}</th>
                        <th>{{i18n "min_rate"}}</th>
                        <th>{{i18n "bundling_rules_column"}}</th>
                        <th>{{i18n "action"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each bundlers}}
                            <tr>
                                <td>{{{accountFormatted}}}</td>
                                <td>{{{chainFormatted}}}</td>
                                <td>{{{totalFeesLimitFQT}}}</td>
                                <td>{{{currentTotalFeesFQT}}}</td>
                                <td>{{{confirmedTotalFeesFQT }}}</td>
                                <td>{{{currentFeeLimitFQT}}}</td>
                                <td>{{{minRateNQTPerFXT}}}</td>
                                <td>{{{rulesFormatted}}}</td>
                                <td>{{{actionsFormatted}}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                <div class="data-empty-container">
                    <p>
                        <span data-i18n="no_bundlers">There are no bundlers for this chain</span>.
                    </p>
                </div>
            </div>
        </script>
    </section>
</div>