<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2022 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="modal fade" id="withdraw_aeur_modal" data-transaction-type="0" data-transaction-subtype="0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-700">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span data-i18n="withdraw">Withdraw</span> <span class="coin-symbol"></span>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="withdraw_aeur_iban" data-i18n="mrtango_iban">Mistertango IBAN</label>
                                <i class="far fa-question-circle modal-context-help" data-content="" data-toggle="popover" data-trigger="hover" data-container="#withdraw_aeur_modal" data-i18n="[data-content]mrtango_iban_help"></i>
                                <input type="text" name="recipientIBAN" id="withdraw_aeur_iban" class="form-control" placeholder="LT__35100___________" tabindex="1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="withdraw_aeur_recipient_name" data-i18n="mrtango_recipient">Recipient Full Name</label>
                                <i class="far fa-question-circle modal-context-help" data-content="" data-toggle="popover" data-trigger="hover" data-container="#withdraw_aeur_modal" data-i18n="[data-content]mrtango_recipient_help"></i>
                                <input type="text" name="recipientName" id="withdraw_aeur_recipient_name" class="form-control" placeholder="Name" data-i18n="[placeholder]name" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ardorgate_third_party_note" class="form-group col-lg-12" style="font-weight:normal;">
                            AEUR withdrawals are processed by Ardorgate, which is a third party service. To use this functionality, you must agree to the terms and conditions of Ardorgate EULA and Privacy Policy.
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>
                                <input type="checkbox" name="ardorgateEula" value="1" tabindex="3"/>
                                <span id="ardorgate_eula_checkbox" style="font-weight:normal;">
                                    I agree with terms and conditions, described in Ardorgate EULA
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 18px; border-bottom: 1px solid #ddd;">
                        <div class="form-group col-lg-12">
                            <label>
                                <input type="checkbox" name="ardorgatePrivacyPolicy" value="1" tabindex="4"/>
                                <span id="ardorgate_privacy_policy_checkbox" style="font-weight:normal;">
                                    I agree with Privacy Policy and give the rights for Ardorgate to use my personal data, managed and stored at Mistertango bank.
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="withdraw_aeur_amount" data-i18n="amount">AMOUNT</label>
                                <div class="input-group">
                                    <input type="text" name="amountAEUR" id="withdraw_aeur_amount" class="form-control" placeholder="Amount" data-i18n="[placeholder]amount" tabindex="3">
                                    <span class="input-group-addon coin-symbol"></span>
                                </div>
                                <span id="amount_info_min_max">Min: Max: </span><br/>
                                <span id="amount_info_commission">Commission: </span><br/>
                                <span id="amount_info_received">EURO to receive: </span><br/>
                            </div>
                        </div>
                    </div>
                    <div data-replace-with-modal-template="fee_calculation_modal_template"></div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <div data-replace-with-modal-template="advanced_deadline_template"></div>
                    <div data-replace-with-modal-template="advanced_approve_template"></div>
                    <div data-replace-with-modal-template="advanced_rt_hash_template"></div>
                    <div data-replace-with-modal-template="advanced_broadcast_template"></div>
                    <div data-replace-with-modal-template="advanced_note_to_self_template"></div>

                    <div class="callout account_info" style="display:none;margin-bottom: 0;"></div>
                    <input type="hidden" name="request_type" value="mistertangoWithdraw" data-default="mistertangoWithdraw" />
                    <input type="hidden" name="converted_account_id" value="" />
                    <input type="hidden" name="merchant_info" value="" data-default="" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="submit;[data-loading-text]submitting">Submit</button>
            </div>
        </div>
    </div>
</div>