Copyright © 2013-2016 The Nxt Core Developers.<br />
Copyright © 2016-2022 Jelurida IP B.V.<br />
Distributed under the <a href="https://www.jelurida.com/jpl" target="_blank">Jelurida Public License (JPL)</a> version 1.2 for the Ardor Public Blockchain Platform, with ABSOLUTELY NO WARRANTY.<br />